body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 0px !important;
  color: #727929;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: ease-in-out 0.5s;
}
button {
  font-family: Raleway;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
img {
  max-width: 100%;
  height: auto;
}
.navcst-inner {
  margin: 0px 5%;
}
.pt-118 {
  padding-top: 118px;
}
.navcastp-fixed {
  position: fixed;
  z-index: 1;
  animation: smoothScroll 0.5s forwards;
}
.pst-csr {
  z-index: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  overflow-y: auto;
  padding-top: 190px !important;
}
.navcst {
  background: #ffffff;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);

  padding: 35px 0px;
  width: 100%;
}
.brd-radio {
  border: 2px solid #6ca21f !important;
}
.crs-pntr {
  cursor: pointer;
}
.secondry-btn1 {
  border: 3px solid white !important;
  color: white !important;
  border-radius: 18px !important;
  padding: 8px 20px !important;
}
.secondry-btn {
  border: 3px solid #6ca21f !important;
  color: #6ca21f !important;
  border-radius: 18px !important;
  padding: 8px 20px !important;
}
.secondry-btn-dsb {
  background-color: #b0b0b0 !important;
  border: 3px solid #b0b0b0 !important;
  color: #ededed !important;
  border-radius: 18px !important;
  padding: 8px 20px !important;
}
.primary-btn {
  border: 3px solid #6ca21f !important;

  background-color: #6ca21f !important;
  color: white !important;
  border-radius: 18px !important;
  padding: 8px 20px !important;
}
.nav-btn-flex {
  max-width: 322px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.d-spnone {
  display: flex;
}
.sidebar-overlay {
  max-width: 450px;
  background-color: #687c8c !important;
}
.dsp-none {
  display: none;
}
.nav-toggle {
  font-size: 26px;
  cursor: pointer;
  display: none;
}
.logo {
  cursor: pointer;
}
.sidebar {
  background-color: #687c8c;
  min-width: 630px;
  /* height: calc(100vh - 117px); */
  /* height: 100%; */
  padding: 45px 115px 0px 115px;
  min-height: 100vh;
}
.sidebar .bar-item p {
  margin-left: 12px;
  font-size: 21px;
  line-height: 26px;
  color: #ededed;
}

.sidebar .bar-item .active {
  font-weight: 700;
  color: white;
}
.sidebar .bar-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
}
.px {
  margin-left: 4px !important;
}
.mrt-15 {
  margin-top: 15px;
}

.stepper p {
  max-width: 454px;
}
.stepper h1 {
  color: #203404;
}
.stepper {
  margin: 80px 150px;
  box-sizing: content-box;
  max-width: 870px;
  width: 100%;
}
.stepper-margin {
  margin-left: 630px;
}
.green-textbox {
  padding: 0px 28px;
  /* min-width: 423px; */
  border: 2px solid #c2c2c1;
  border-radius: 24px;
  width: 100%;
}
.green-textbox label {
  position: relative;
  top: -13px;
  background-color: white;
  padding: 0px 11px;
  font-size: 17px;
  line-height: 24px;
  color: #555555;
}
.green-textbox input:active,
.green-textbox input:focus {
  box-shadow: none;
}
.green-textbox input,
.green-textbox select {
  background-color: white;
  border: none;
  padding: 0px;
  height: 33px;
  margin: 0px 0px 19px 0px;
  width: 100%;
  font-style: italic;

  font-size: 21px;
  line-height: 26px;
  color: #323929;
}
.mt-48 {
  margin-top: 38px;
}
.mr-2 {
  margin-right: 10px;
}
.mr-4 {
  margin-right: 20px;
}
.text-input-cst {
  max-width: 423px;
  width: 100%;
}
.text-postal {
  max-width: 204px;
  width: 100%;
}
.text-postal1 {
  max-width: 216px;
  width: 100%;
}
.text-postal2 {
  max-width: 326px;
  width: 100%;
}
.text-address {
  max-width: 646px;
  width: 100%;
}
.nxt-btn {
  justify-content: flex-end;
  display: flex;
  margin-right: -115px;
  margin-top: 15%;
}
.nxt-btn1 {
  justify-content: space-between;
  display: flex;
  margin-right: -115px;
  margin-top: 8%;
}
.cms1 h4 {
  font-style: italic;
}
.cms1 svg {
  margin-right: 10px;
}
.cms1 {
  display: flex;
  align-items: center;
  position: relative;
  top: -11px;
}
.cms {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 2px solid #c2c2c1;
  height: 34px;
  position: relative;
}
.brd-btm {
  width: 100%;
  height: 2px;
  background-color: #c4c4c4;
  margin: 30px 0px;
}
.btnback :active,
.btnback :focus {
  box-shadow: none !important;
}
.btnback {
  font-size: 20px;
  line-height: 24px;
  color: #6ca21f !important;
  padding: 0px !important;
}

::-webkit-calendar-picker-indicator {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.mt-15p {
  margin-top: 15%;
}
.step-3p {
  max-width: 503px;
  margin-top: 16px;
}
.step-3-italic p {
  font-style: italic;
  color: #555555;
  font-size: 17px;
  line-height: 24px;
}
.step-4-item p {
  margin-top: 16px;
  max-width: 940px;
}
.step-4-item {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
.step-4-head svg {
  margin-right: 21px;
}
.step-4-head {
  display: flex;
  align-items: center;
}
.step-5-item p {
  margin-top: 16px;
  max-width: 940px;
  font-size: 17px !important;
  line-height: 24px !important;
  color: #323929 !important;
}

.ml-2 {
  margin-left: 20px;
}
.stepp-5-text {
  max-width: 560px !important;
}

.download-btn:focus,
.download-btn:active {
  box-shadow: none !important;
}
.download-btn p span {
  color: #6ca21f;
}
.download-btn p {
  color: #555555;
  font-size: 17px !important;
  line-height: 24px !important;
}
.download-btn {
  padding: 22px 128px !important;
  margin-top: 16px;
  border: 3px solid #c2c2c1 !important;
  border-radius: 25px !important;
}

.step-done {
  background: #f3f7fa;
  min-height: 100vh;
  padding-bottom: 75px;
}
.done-inner h4 {
  text-align: center;
  color: #6ca21f;
  padding-bottom: 80px !important;
}
.done-inner p {
  color: #ef6451;
  margin-top: 24px;
  text-align: center;
}
.mb-80 {
  margin-bottom: 80px;
}
.mt-40 {
  margin-top: 40px;
}

.done-innertext-cst {
  max-width: 791px !important;
  margin: auto !important;
  margin-top: 24px !important;
}
.done-inner-top {
}
.done-inner {
  max-width: 1068px;
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  border-radius: 40px;
  padding-top: 88px;
  margin-top: 75px;
}

.flex-broke {
  display: flex;
}

.file-upload-cst {
  display: none;
}
.bar-item {
  cursor: pointer;
}

.mtn-4 {
  margin-top: -10px;
}

.color-cst-1 {
  color: #323929 !important;
}

.cms1 h4 {
  font-weight: 700;
}

.font-p2 {
  font-style: italic;
  color: #555555;
  font-size: 17px !important;
  line-height: 24px !important;
}

.btn {
  font-weight: 700 !important;
}

.secondry-btn:focus,
.secondry-btn:active,
.primary-btn:focus,
.primary-btn:active {
  box-shadow: none !important;
}

.secondry-btn:hover {
  background-color: #6ca21f !important;
  color: white !important;
}
.primary-btn:hover {
  color: #6ca21f !important;
  background-color: white !important;
}

.dropdown-toggle::after {
  border: none !important;
}

.green-textbox .dropdown button:focus,
.green-textbox .dropdown button:active {
  box-shadow: none !important;
}
.green-textbox .dropdown button {
  width: 100% !important;
  color: #323929 !important;
  background-color: transparent !important;
  border: transparent !important;
  font-style: italic !important;
  font-weight: normal !important;
  font-size: 21px !important;
  line-height: 26px !important;
}
.green-textbox .dropdown-menu a {
  padding: 10px 20px;
}
.green-textbox .dropdown-menu {
  width: 100%;
  height: 180px;
  overflow-x: hidden;
  border-radius: 22px;
}
.nfu-asjdi3e {
  min-width: 0px !important;
  margin-top: 0px;
  display: flex;
  justify-content: flex-end;
}
.dropdown-toggle::after {
  content: none !important;
}
/* 

.dropdown-toggle span {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-style: italic;
}

.dropdown-toggle svg {
  position: relative;
  top: -8px;
} */
.dropdown {
  margin: 0px !important;
}
.nfu-asjdi3e1 {
  padding: 28px 26px !important;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.nfu-asjdi3e {
  padding: 25px 26px !important;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}
.dropdown-toggle span {
  padding: 25px 26px;
}
.dropdown-toggle {
  justify-content: space-between !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  padding: 0px !important;
}
.d-drp {
  display: flex;
  justify-content: space-between;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6ca21f;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #57821a;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
